<!DOCTYPE html>
<html>
<head>
    <title>Changer mot de passe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-box">
    <h2>🔑 Changer mot de passe</h2>

    <form method="post" action="/changer_mot_de_passe">
        <input type="hidden" name="user" value="{{ user }}">

        <input type="password" name="ancien_mdp" placeholder="Ancien mot de passe" required>
        <input type="password" name="nouveau_mdp" placeholder="Nouveau mot de passe" required>

        <button type="submit">Valider</button>
    </form>

    <p>{{ message }}</p>

    <a href="/{{ request.query_params.get('redirect', '') }}">⬅ Retour</a>
</div>

</body>
</html>
